# ===================================================================
# artellapipe-tools-assetsmanager requirements file
# ===================================================================
artellapipe